//-output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-70086735-1', 'auto');
      | ga('send', 'pageview');
  body(ng-app="ud-app")  
    
    div(data-svg="site/img/urgencias-digitales.svg").ud.white.central#logo
    div(data-svg="site/img/beatline.svg")#beatline
    #navicons
      a(href="#")#aboutUs.ion-ios-help-empty
      a(href="#")#closeaboutUs.ion-ios-close-empty
    #socialicons
      a(href="https://twitter.com/urgenciadigital", target="_blank").ion-social-twitter
      a(href="https://google.com/+UrgenciasdigitalesSpaceud", target="_blank").ion-social-googleplus-outline
      a(href="mailto:urge@urgenciasdigitales.space").ion-ios-email
      a(href="skype:urgenciasdigitales?chat").ion-social-skype
      a(href="whatsapp://send?abid=5513484349&text=Tengo una urgencia").ion-social-whatsapp
    a(href="#")#start.ion-ios-arrow-thin-right
    
    #aboutusArea
      
      .container
        .col4.col-t12.col-m12.thelogo
          div(data-svg="site/img/urgencias-digitales.svg")#logoInside
        .col4.col-t8.col-m10.push-m1
          p Si necesitas un proyecto en un periodo de tiempo urgente o te quedó mal tu desarrollador y tienes un proyecto inconcluso no sufras más, <strong class="red">nosotros podemos auxiliarte</strong>.
          p En <strong class="red">Urgencias Digitales</strong> podemos apoyarte con proyectos de <strong>programación</strong>, <strong>diseño</strong>, <strong>modelado 3D</strong>, <strong>desarrollo de interactivos</strong>, <strong>aplicaciones móviles</strong>, etc. Sólo es necesario que llenes el formulario principal del sitio y nos cuentes el estatus de tu proyecto. Nosotros nos pondremos en contacto en cuestión de horas (o minutos) para ofrecerte una solución inmediata.
          p Si tu urgencia es mucha puedes buscarnos en los siguientes medios:
          p
            i.ion-ios-email
            a(href="mailto:urge@urgenciasdigitales.com") urge@urgenciasdigitales.com
            br
            i.ion-social-skype
            a(href="skype:urgenciasdigitales?chat") urgenciasdigitales
            br
            i.ion-social-whatsapp
            a(href="whatsapp://send?abid=5513484349&text=Tengo una urgencia") (55) 13 48-43 49
            br
            i.ion-social-twitter
            a(href="https://twitter.com/urgenciadigital", target="_blank") @urgenciadigital
        .col4.col-t4.col-m12
          #listS
            #listscroll.scroll-text
              ul.listtech
                li Diseño Web
                li Diseño de logotipo
                li Identidad corporativa
                li Diseño de imagen
                li Programación Web
                li Front-End
                li Back-End
                li Frameworks Web
                li Aplicaciones móviles
                li Modelado 3D
                li Animación 2D
                li Animación 3D
                li Edición de video
                li Efectos especiales
                li HTML
                li CSS
                li Javascript
                li PHP
                li Python
                li Less
                li Jade
                li jQuery
                li Diseño Web
                li Diseño de logotipo
                li Identidad corporativa
                li Diseño de imagen
                li Programación Web
                li Front-End
                li Back-End
                li Frameworks Web
                li Aplicaciones móviles
                li Modelado 3D
                li Animación 2D
                li Animación 3D
                li Edición de video
                li Efectos especiales
                li HTML
                li CSS
                li Javascript
                li PHP
                li Python
                li Less
                li Jade
                li jQuery




    mixin section(_id, _title, _p, _small, _next, _ngshow)
      section(id=_id)
        .container
          .col6.push3.col-t8.push-t2
            h2=_title
              if _small
                small=_small
            if _p
              p=_p
        .container
          .col4.push4.col-t8.push-t2
            if block
              block
        .container
          .col2.push8.col-t4.push-t8
            button.btn.next(ng-show=_ngshow, data-hide='##{_id}', data-next='##{_next}') SEGUIR    
                
            
    
                
    
    .sections(ng-controller="dataCtrl").not
    
    
      +section('two', 'Tengo una urgencia digital', null, 'Requiero un:', 'three', 'datos.need')
        button.btn.btnactive(ng-click="datos.need='programador'") PROGRAMADOR
        button.btn.btnactive(ng-click="datos.need='diseñador'") DISEÑADOR
        button.btn.btnactive(ng-click="datos.need='asesor'") ASESOR
        button.btn.btnactive(ng-click="datos.need='otro'") OTRO
    
      
      +section('three', 'Sobre la urgencia.', null, null, 'fourth', 'datos.tipo && datos.status')
        input(type="text", placeholder="¿Qué tipo de proyecto es?", ng-model="datos.tipo")
        label Sitio web, logotipo, interactivo, modelado 3D…
        textarea(placeholder="Estado actual y características a desarrollar", ng-model="datos.status")
        label Desde cero, al 50%, últimos detalles…
        
      
      - var txt4th = 'Si tienes  archivos  puedes subirlos a un servicio de almacenamiento para que los podamos revisar y así comprender de mejor maneja el proyecto. Después de subirlos pega la URL del archivo en el campo de abajo.';
      +section('fourth', '¿Qué hay y cuándo se entrega?', txt4th, null, 'fifth', 'datos.when')  
          div.urlInput
            input(type="text", placeholder="URL de archivo | Opcional", ng-model="datos.url")
            .icons
              a(href="http://filenurse.com/", target="_blank"): img(src="site/img/icon_filenurse.png", alt="Filenurse")
              a(href="https://www.dropbox.com/", target="_blank"): img(src="site/img/icon_dropbox.png", alt="Dropbox")
              a(href="https://mega.nz/", target="_blank"): img(src="site/img/icon_mega.png", alt="Mega")
              a(href="https://www.wetransfer.com/", target="_blank"): img(src="site/img/icon_we.png", alt="WeTransfer")
            input(type="text", placeholder="¿Cuándo se debe entregar?", ng-model="datos.when")
              
              
              
      section#fifth
        .container
          .col6.push3
            h2 ¿Cómo te contactamos?.
            p Nos comunicaremos en cuestión de horas con una solución para tu proyecto.
        .container
          .col8.push2
            input(type="text", placeholder="Tu nombre", ng-model="datos.cliente.nombre")
            input(type="email", placeholder="Correo electrónico", ng-model="datos.cliente.email")
            input(type="text", placeholder="Telefono", ng-model="datos.cliente.telefono")
            input(type="text", placeholder="Otro", ng-model="datos.cliente.otro")
        .container
          .col2.push8
            button.btn.next.end(ng-show="datos.cliente.nombre && datos.cliente.email", data-hide="#fifth", data="#sixth") TERMINAR
      
      section#sixth
        .container
          .col6.push3
            h2 Ahora nos pondremos en contacto
            p Espera un momento en lo que revisamos tu proyecto y armamos una propuesta.
            p Nuestro tiempo estimado de respuesta es de 1 hr.
            p Ya que tengamos todo listo te haremos llegar la cotización de desarrollo, información importante y nuestros datos para realizar el pago.
            
                
      | {{ datos | json }}

    +scripts
